/*
#ffffff Білий
#212121 Чорний основний
#000000 Чорний темніший 
#757575 Сірий 
#2196F3 Синій фокуc
#E5E5E5 сірий фон
*/
:root {
  
  --primary-text-color: #212121;
  --page-hero-text: #212121;
  --main-accent: #2196f3;
  --new-accent: #757575;
  --pimary-bg-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  /* тимчасовий колір*/
}
/* Logo  шрифт*/
.logo{
  font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 31px;
}
.logo2{
  font-family: Raleway, sans-serif;
  font-size: 26px;
line-height: 31px;
}
/* Logo  цвет*/
.logo {
        color: #2196f3;
      }
      .logo2 {
        color: #000000;
      }
      .link { 
        padding: 253px
        color: #000000;
      }
      .link:hover { 
        color: #2196f3;
      }
      .link:focus {
       color:  #ffffff;
      }
      .links:hover,
      .links:focus {
    color: var(--pimary-bg-color);
    background-color: var(--main-accent);
}
.container {
  margin-top: 5px;
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
}
.best {
margin-bottom: 200px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
background-color: tomato
}
.post-link {
  margin-bottom: 0;
color:#FFFFFF;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
padding: 10px 32px;
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 350px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.combo {
  padding: 0;
  margin-top: 0;
  padding-top: 0 ;
  margin-bottom: 0 ;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
}

/* Применится ко всем абзацам на странице */
p {
  font-size: 16px;
}
/*Страница студия*/
h1 {
  font-family: Roboto; sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #FFFFFF;
}
h2 {
  font-size: 18px;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
}
h3 { font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
}
h4 {
  font-family: Roboto; 
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}

.comands {
  margin-top: 0;
 margin-bottom: 0;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
}
.people {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
}
.claints{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
}
.join-in {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
}
/* Страница портфолио*/
.links {
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
}
.names {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
}
.services {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
}


/* Применится ко всем ссылкам на странице */
a {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/*Site nav*/
.logo:hover {
  --new-accent: rgb(0, 0, 0)
  color: var(--new-accent);
}
.site-nav .active a {
    color: #2196f3;
}
.site-nav .link {
  font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}
.auth-nav .link {
  color: #757575;
  font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}


.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}
.features-title {
  color: black;
}
.work-title {
  color: #757575;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
}
.work-title1 {
  color: #757575;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
}
.adress {
  color: #757575;
}
.Contact-Information {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

}


/*Button*/


/* Шрифти 
Raleway
Roboto

*/  
